In [56]:
import pandas as pd
import numpy as np
from IPython.display import Image
from datetime import datetime

pd.options.display.max_rows = 100

def get_counts(anything):
    counts = {}
    for a in anything:
        if a in counts:
            counts[a] = counts[a] + 1
        else:
            counts[a] = 1
    return counts

In [70]:
path = "E:/AFC data/SIDV_12_18_sept_2016.txt"
data_agency = pd.read_csv(path,header=None, nrows = 100) 
index = data_agency.values[0][0]
data = data_agency.values[80][0]
print(len(index.split('\t')))
print(len(data.split('\t')))
df = pd.DataFrame(data.split('\t'),index=index.split('\t'))
df.to_csv('D:\\test.csv', sep=',', header=False, index=True)
df

34
34

                                             0
NUMR_CART                 67284733565360564081
IDNT_TITR_CLNT                               1
DAT_VALD                            12/09/2016
HEUR_VALD                             19:32:55
IDNT_TRJT                                    4
JOUR_EXPL_VALD                      12/09/2016
IDNT_TRNC_HORR                            1930
COD_NATR_VALD                              01
NUMR_COURSE                                 -1
DAT_DEBT_COUR                       01/01/2000
HEUR_DEBT_COUR                        03:59:59
COD_TLB_LIGN                              *803
DAT_DEBT_VALD_LIGN                  01/01/2000
COD_TLB_SL                                  ND
SENS                                         X
COD_TECH                                     T
COD_TLB_TRNS                                 2
COD_TLB_RES                                002
COD_TLB_ARRT_STTN                547026
COD_MOD_VALD                                 1
COD_DEZN                                     1
COD_RECT                                     ?
NUMR_BORN_VALD_EQPM                   33410101
IDNT_VEHC                                    ?
IDNT_MISS_RATP                              -1
NUMR_AGNT_AFFC_NUMR_SERV                     ?
TYP_VALD                                    -1
SOUS_TYP_VALD                               -1
COMP_VALD_TITR                              ND
PRX_VENT                                     ?
NOMB_VOYA                                    ?
FLG_VALD_SUCC_MEM_LIEU                       1
FLG_VALD_MULT_LIAI_GAR                       1
IDNT_FICH_SOUR                         3439596

In [21]:
data_agency.keys

RangeIndex(start=0, stop=5, step=1)