In [3]:
import  pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Image

In [4]:
def get_counts(anything):
    counts = {}
    for a in anything:
        if  a in counts:
            counts[a] = counts[a] + 1
        else:
            counts[a] = 1
    return counts

In [5]:
path_3 =  'F:/Stage/data/AFC/counts/counts_3'
data = pd.read_csv(path_3, delimiter="\t", header = 0, encoding="latin-1")

E:\python\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
0,2,05555646578518204505,14/03/2017,08:16:32,GARE DE LYON,1,801,0030050091300,214,57,3,810,801,ND
1,4,58112168677996473715,14/03/2017,07:03:09,PETIT-VAUX,2,2,393652,1651401,1,1,800,803,ND
2,13,58733986662879801363,14/03/2017,18:15:38,BIR-HAKEIM (GRENELLE),3,1,0030030100400,103,31,3,100,110,ND
3,22,14518383320337389570,14/03/2017,16:46:44,TRAPPES,2,2,393835,15601102,1,1,800,852,ND
4,26,78252539046252801159,14/03/2017,17:34:11,HAUSSMANN-SAINT-LAZARE,2,2,281899,26500003,1,1,800,805,ND
5,29,43724842314677126247,14/03/2017,06:05:32,AUBERVILLIERS-PANTIN (QUATRE CHEMINS),3,1,0030030030500,105,31,3,100,110,ND
6,38,35582761024116677984,14/03/2017,07:58:15,FONTENAY-AUX-ROSES,1,802,0030050280402,333,51,1,810,802,ND
7,50,61023525515334729319,14/03/2017,16:12:26,MARCEL SEMBAT-METRO,3,1,0030010126029,277,11,2,100,100,126
8,65,86519358410939464720,14/03/2017,19:49:36,CLEMENCEAU,3,1,0030010272020,8237,11,2,100,100,272
9,73,83190830723169792819,14/03/2017,20:13:57,BONNE NOUVELLE,3,1,0030030110800,103,31,3,100,110,ND
10,79,32799638832095310366,14/03/2017,08:13:23,CHAMP DE MARS-TOUR EIFFEL,2,2,393058,11640101,1,1,800,803,ND
11,84,50508698981533083564,14/03/2017,13:44:05,LES BACONNETS,1,802,0030050180503,147,52,1,810,802,ND
12,86,78478524383148766348,14/03/2017,14:49:10,GENERAL DE GAULLE - STALINGRAD,3,1,0030010317030,5130,11,2,100,100,317
13,90,05555646578518204505,14/03/2017,08:16:09,GARE DE LYON,1,801,0030050091300,239,51,1,810,801,ND
14,92,58112168677996473715,14/03/2017,18:43:19,AUSTERLITZ,2,2,547026,34410101,1,1,800,803,ND
15,100,04067105307557541933,14/03/2017,18:09:49,HAVRE-CAUMARTIN,3,1,0030030060700,106,31,3,100,110,ND
16,101,58733986662879801363,14/03/2017,22:30:17,SAINT-PLACIDE,3,1,0030030041200,161,31,3,100,110,ND
17,126,35582761024116677984,14/03/2017,17:17:40,FONTENAY-AUX-ROSES,1,802,0030050280402,243,52,1,810,802,ND
18,172,50508698981533083564,14/03/2017,17:19:12,LES BACONNETS,1,802,0030050180503,133,51,1,810,802,ND
19,175,94279463664649774754,14/03/2017,07:47:28,BRUNOY,2,2,682120,3431003,1,1,800,804,ND
20,178,05555646578518204505,14/03/2017,17:22:06,TRINITE-D'ESTIENNE D'ORVES,3,1,0030030310800,104,31,3,100,110,ND
21,179,81436157518174117240,14/03/2017,18:58:19,STADE DE FRANCE-SAINT-DENIS,2,2,164780,16500403,1,1,800,804,ND
22,199,37535286183140111215,14/03/2017,17:11:38,LES COURTILLES,3,1,0030010921065,8786,41,4,100,112,11
23,242,01310300870072006700,14/03/2017,19:22:24,PLACE CHARRAS,3,1,0030010176005,777,11,2,100,100,176
24,254,14738355525455091886,14/03/2017,17:02:12,SEVRAN-BEAUDOTTES,1,802,271445,14700901,1,1,810,802,ND
25,257,24351878581399459805,14/03/2017,12:23:25,OLYMPIADES,3,1,0030030150600,101,31,3,100,110,ND
26,260,50508698981533083564,14/03/2017,12:46:53,VITRY-SUR-SEINE,2,2,545293,22410402,1,1,800,803,ND
27,263,94279463664649774754,14/03/2017,08:21:13,GARE DE LYON,1,801,0030050091300,242,57,3,810,801,ND
28,267,16198507190863620984,14/03/2017,17:20:00,SAINT-PHILIPPE-DU-ROULE,3,1,0030030180500,101,31,3,100,110,ND
29,278,55831230359662085980,14/03/2017,07:38:50,RUE DE JOINVILLE,3,1,0030010124013,11804,11,2,100,100,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392855,13099095,83202628273035109587,14/03/2017,10:53:00,Les Sarments,130,195,288,48003,11,2,30,195,3
1392856,13099110,63954009552760280114,14/03/2017,09:31:30,BOIS-LE-ROI,2,002,682203,1441601,1,1,800,851,ND
1392857,13099112,63954009552760280114,14/03/2017,10:21:34,GARE DE LYON,3,001,0030030090800,121,31,3,100,110,ND
1392858,13099144,17904932375790758250,14/03/2017,07:48:42,LAPLACE,1,802,0030050180202,170,51,1,810,802,ND
1392859,13099146,17904932375790758250,14/03/2017,18:31:22,GIF-SUR-YVETTE,1,802,0030050181003,432,51,1,810,802,ND
1392860,13099148,17904932375790758250,14/03/2017,00:57:29,LAPLACE,1,802,0030050180202,175,52,1,810,802,ND
1392861,13099188,45993039426701202251,14/03/2017,22:27:17,MASSY-PALAISEAU,1,802,0030050180602,104,51,1,810,802,ND
1392862,13099191,45622845620778886487,14/03/2017,19:39:09,VINCENNES,1,801,0030050160201,109,51,1,810,801,ND
1392863,13099192,45622845620778886487,14/03/2017,19:45:17,VAL-DE-FONTENAY,1,801,0030050260501,152,52,1,810,801,ND
1392864,13099229,92082075111097025019,14/03/2017,17:20:22,PRESIDENT ROBERT SCHUMAN,3,001,0030010189008,372,11,2,100,100,189
1392865,13099230,92082075111097025019,14/03/2017,17:26:14,CORENTIN-CELTON,3,001,0030030280200,102,31,3,100,110,ND
1392866,13099233,45438195472914678351,14/03/2017,21:41:21,LA DEFENSE-GRANDE ARCHE,1,801,0030050170401,304,52,1,810,801,ND
1392867,13099234,45438195472914678351,14/03/2017,07:42:57,LA DEFENSE-GRANDE ARCHE,1,801,0030050170401,103,31,3,810,801,ND
1392868,13099277,80038784424562865230,14/03/2017,17:29:58,GARE SAINT LAZARE,3,001,0030010095066,13715,11,2,100,100,95
1392869,13099291,18721456883410287200,14/03/2017,06:24:01,SAINT-CYR,2,002,393223,11601001,1,1,800,852,ND
1392870,13099292,17607762558059928364,14/03/2017,18:44:40,ROME,3,001,0030030311200,102,31,3,100,110,ND
1392871,13099318,73685933586312357799,14/03/2017,16:25:36,MUSEE DE SEVRES,3,001,0030010171002,11491,11,2,100,100,171
1392872,13099335,92586163951459637641,14/03/2017,07:35:14,PONT DE CHARENTON,3,001,0030010024037,11873,11,2,100,100,24
1392873,13099336,92586163951459637641,14/03/2017,07:41:21,CHARENTON-ECOLES,3,001,0030030251300,101,31,3,100,110,ND
1392874,13099357,23909116738615351722,14/03/2017,18:51:30,MAIRIE DES LILAS - METRO,3,001,0030010105003,6984,11,2,100,100,105
1392875,13099373,06956755301916622050,14/03/2017,11:38:34,SAINT-DENIS,2,002,271015,6500505,1,1,800,853,ND
1392876,13099374,06956755301916622050,14/03/2017,23:03:33,SAINT-DENIS,2,002,271015,13500505,2,1,800,853,ND
1392877,13099388,95220845022684976437,14/03/2017,19:20:26,MICHEL-ANGE - AUTEUIL,3,001,0030010062006,5323,11,2,100,100,62
1392878,13099427,91275327765951983217,14/03/2017,08:10:34,ARGENTINE,3,001,0030030181100,102,31,3,100,110,ND
1392879,13099429,20738421309354187838,14/03/2017,08:25:56,ROBERT WAGNER,3,001,0030010016041,12033,41,4,100,112,16
1392880,13099430,20738421309354187838,14/03/2017,08:54:51,JAVEL,2,002,393066,18640201,2,1,800,803,ND
1392881,13099435,33371669723630670778,14/03/2017,09:00:29,SAINT-LAZARE,3,001,0030030060900,207,31,3,100,110,ND
1392882,13099440,00046590185045852222,14/03/2017,17:48:38,CHATILLON-MONTROUGE,3,001,0030010016001,6753,41,4,100,112,16
1392883,13099441,18502851121848883987,14/03/2017,18:43:07,EDGAR QUINET,3,001,0030030040600,101,31,3,100,110,ND
1392884,13099451,63770673800892266274,14/03/2017,12:14:20,PLACE DES FETES,3,001,0030010060042,993,11,2,100,100,60

In [7]:
data[data['NUMR_CART'] == '43724842314677126247']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
5,29,43724842314677126247,14/03/2017,06:05:32,AUBERVILLIERS-PANTIN (QUATRE CHEMINS),3,1,0030030030500,105,31,3,100,110,ND
952870,8917597,43724842314677126247,14/03/2017,15:06:04,GARE DE L'EST,3,001,0030030210900,308,31,3,100,110,ND
952878,8917685,43724842314677126247,14/03/2017,15:43:40,Inconnu,3,001,*100,5520,11,2,100,100,170

In [8]:
data[data['NUMR_CART'] == '14518383320337389570']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
3,22,14518383320337389570,14/03/2017,16:46:44,TRAPPES,2,2,393835,15601102,1,1,800,852,ND
487918,4779566,14518383320337389570,14/03/2017,16:38:00,St-Francois,136,230,165,5344,11,2,230,410,414
487928,4779654,14518383320337389570,14/03/2017,12:59:37,LA VERRIERE,2,002,393256,12601201,1,1,800,852,ND

In [9]:
data[data['NUMR_CART'] == '24351878581399459805']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
25,257,24351878581399459805,14/03/2017,12:23:25,OLYMPIADES,3,1,0030030150600,101,31,3,100,110,ND
35,345,24351878581399459805,14/03/2017,13:48:52,HAVRE-CAUMARTIN,3,1,0030030060700,107,31,3,100,110,ND
492709,4823801,24351878581399459805,14/03/2017,15:25:20,FRANKLIN-D.ROOSEVELT,3,001,0030030180700,104,31,3,100,110,ND

In [10]:
data[data['NUMR_CART'] == '20738421309354187838']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
975967,9133828,20738421309354187838,14/03/2017,08:32:03,VIROFLAY RIVE GAUCHE,2,002,393215,4600605,1,1,800,852,ND
1392879,13099429,20738421309354187838,14/03/2017,08:25:56,ROBERT WAGNER,3,001,0030010016041,12033,41,4,100,112,16
1392880,13099430,20738421309354187838,14/03/2017,08:54:51,JAVEL,2,002,393066,18640201,2,1,800,803,ND

In [11]:
data[data['NUMR_CART'] == '00046590185045852222']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
495089,4845060,00046590185045852222,14/03/2017,07:53:32,CHATILLON-MONTROUGE,3,001,0030030270900,106,31,3,100,110,ND
976034,9134620,00046590185045852222,14/03/2017,17:30:21,DUROC,3,001,0030030020700,104,31,3,100,110,ND
1392882,13099440,00046590185045852222,14/03/2017,17:48:38,CHATILLON-MONTROUGE,3,001,0030010016001,6753,41,4,100,112,16

In [12]:
data[data['NUMR_CART'] == '95220845022684976437']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
494482,4839604,95220845022684976437,14/03/2017,08:43:06,MOUTON - DUVERNET,3,001,0030010038003,2905,11,2,100,100,38
975695,9131100,95220845022684976437,14/03/2017,16:51:15,ODEON,3,001,0030030010400,104,31,3,100,110,ND
1392877,13099388,95220845022684976437,14/03/2017,19:20:26,MICHEL-ANGE - AUTEUIL,3,001,0030010062006,5323,11,2,100,100,62

In [13]:
data['COD_NATR_VALD'] = data['COD_NATR_VALD'].astype('str')
data['HEUR_VALD'] = pd.to_datetime(data['HEUR_VALD'], format='%H:%M:%S')

In [14]:
data.iloc[0]['HEUR_VALD'] - data.iloc[6]['HEUR_VALD']

Timedelta('0 days 00:18:17')

In [17]:
data_sort = data.sort_values(['NUMR_CART','HEUR_VALD'], ascending=[False, True])
data_sort = data_sort.reset_index(drop = True)

In [18]:
test1 = data_sort[data_sort['Unnamed: 0'] == 9131100]
test1

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
65269,9131100,95220845022684976437,14/03/2017,1900-01-01 16:51:15,ODEON,3,001,0030030010400,104,31,3,100,110,ND

In [19]:
test2 = data_sort[data_sort['Unnamed: 0'] == 4839604]
test2

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
65268,4839604,95220845022684976437,14/03/2017,1900-01-01 08:43:06,MOUTON - DUVERNET,3,001,0030010038003,2905,11,2,100,100,38

In [20]:
data_sort

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
0,6289284,99999942845366768893,14/03/2017,1900-01-01 10:57:31,PYRENEES,3,001,0030030241400,101,31,3,100,110,ND
1,6289196,99999942845366768893,14/03/2017,1900-01-01 17:30:51,SAINT-GERMAIN-DES-PRES,3,001,0030030021500,232,31,3,100,110,ND
2,1723316,99999942845366768893,14/03/2017,1900-01-01 18:50:29,CHATELET,3,001,0030030010800,401,31,3,100,110,ND
3,7153827,99999577198461515588,14/03/2017,1900-01-01 08:00:58,HOTEL DE VILLE DE FONTENAY,3,001,0030010124016,2125,11,2,100,100,124
4,7153915,99999577198461515588,14/03/2017,1900-01-01 08:20:46,VAL DE FONTENAY RER,3,001,0030010118015,6803,11,2,100,100,118
5,11376859,99999577198461515588,14/03/2017,1900-01-01 19:25:28,VAL DE FONTENAY RER,3,001,0030010124022,9042,11,2,100,100,124
6,354119,99999492695837542235,14/03/2017,1900-01-01 08:02:30,ESCADRILLE NORMANDIE-NIEMEN - PAUL VAILLANT-CO...,3,001,0030010151012,611,11,2,100,100,151
7,354031,99999492695837542235,14/03/2017,1900-01-01 10:11:44,PLACE DU 19 MARS 1962,3,001,0030010151034,11948,11,2,100,100,151
8,354207,99999492695837542235,14/03/2017,1900-01-01 12:29:00,ESCADRILLE NORMANDIE-NIEMEN - PAUL VAILLANT-CO...,3,001,0030010151012,1753,11,2,100,100,151
9,6550859,99998853895565292735,14/03/2017,1900-01-01 07:56:20,MAIRIE DE ROMAINVILLE,3,001,0030010105047,983,11,2,100,100,105
10,6550947,99998853895565292735,14/03/2017,1900-01-01 08:10:03,MAIRIE DES LILAS,3,001,0030030230300,104,31,3,100,110,ND
11,6551035,99998853895565292735,14/03/2017,1900-01-01 17:09:35,PYRENEES,3,001,0030030241400,103,31,3,100,110,ND
12,11137569,99998786964033820793,14/03/2017,1900-01-01 08:29:10,RICHELIEU-DROUOT,3,001,0030030110700,401,31,3,100,110,ND
13,2536801,99998786964033820793,14/03/2017,1900-01-01 15:53:07,LA MUETTE,3,001,0030030171100,102,31,3,100,110,ND
14,2536889,99998786964033820793,14/03/2017,1900-01-01 20:12:29,RUE DU BAC,3,001,0030030021000,103,31,3,100,110,ND
15,12431870,99998614886067744792,14/03/2017,1900-01-01 09:03:24,GARE DE LYON,3,001,0030030090800,103,031,3,100,110,ND
16,8265510,99998614886067744792,14/03/2017,1900-01-01 18:21:02,LOUIS BLANC,3,001,0030030221000,102,31,3,100,110,ND
17,3943302,99998614886067744792,14/03/2017,1900-01-01 19:30:47,PORTE DE LA VILLETTE,3,001,0030030030400,105,31,3,100,110,ND
18,7265193,99997990729919865119,14/03/2017,1900-01-01 09:13:04,MARCADET-POISSONNIERS,3,001,0030030200900,102,31,3,100,110,ND
19,7265105,99997990729919865119,14/03/2017,1900-01-01 19:43:54,MAIRIE DE CLICHY,3,001,0030030190100,102,31,3,100,110,ND
20,2810545,99997990729919865119,14/03/2017,1900-01-01 19:59:14,BROCHANT - CARDINET,3,001,0030010031034,14809,11,2,100,100,31
21,10789855,99997955226236728234,14/03/2017,1900-01-01 18:07:30,CERGY-SAINT-CHRISTOPHE,1,801,382499,22331201,1,1,810,801,ND
22,10789679,99997955226236728234,14/03/2017,1900-01-01 18:35:00,Gare d'Houilles Carrières sur Seine,119,248,19079,3575,11,2,19,248,19
23,10789767,99997955226236728234,14/03/2017,1900-01-01 18:41:19,HOUILLES-CARRIERES-SUR-SEINE,1,801,386409,30320704,2,1,810,801,ND
24,7381774,99997804846299180110,14/03/2017,1900-01-01 09:03:11,LES VALLEES,2,002,386300,3320505,1,1,800,854,ND
25,7381862,99997804846299180110,14/03/2017,1900-01-01 09:14:38,NANTERRE-VILLE,1,801,0030050170503,208,52,1,810,801,ND
26,7381950,99997804846299180110,14/03/2017,1900-01-01 18:50:13,NANTERRE-VILLE,1,801,0030050170503,201,51,1,810,801,ND
27,5467559,99997800772878601333,14/03/2017,1900-01-01 13:07:09,GUY MOQUET,3,001,0030030301200,101,31,3,100,110,ND
28,770559,99997800772878601333,14/03/2017,1900-01-01 16:37:29,CHATELET,3,001,0030030010800,103,31,3,100,110,ND
29,9660055,99997800772878601333,14/03/2017,1900-01-01 18:07:47,JOURDAIN,3,001,0030030231400,103,31,3,100,110,ND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392855,851488,00001785442334661973,14/03/2017,1900-01-01 16:46:42,TISSONVILLIERS,3,001,0030010270011,8053,11,2,100,100,270
1392856,5483368,00001785442334661973,14/03/2017,1900-01-01 17:12:50,GOUSSAINVILLE,2,002,276246,26521001,2,1,800,804,ND
1392857,9623416,00001785442334661973,14/03/2017,1900-01-01 17:35:00,Gosa-Goussai,142,14,427,839,11,2,14,14,32
1392858,8288397,00000842771820414698,14/03/2017,1900-01-01 07:28:24,SIMPLON,3,001,0030030201000,101,31,3,100,110,ND
1392859,8288485,00000842771820414698,14/03/2017,1900-01-01 15:26:41,COLONEL FABIEN,3,001,0030030221500,101,31,3,100,110,ND
1392860,12392277,00000842771820414698,14/03/2017,1900-01-01 18:37:28,JAURES,3,001,0030030221200,103,31,3,100,110,ND
1392861,5559296,00000765388848043121,14/03/2017,1900-01-01 06:51:08,JEAN JAURES - DIVISION LECLERC,3,001,0030010143104,2764,11,2,100,100,143
1392862,909376,00000765388848043121,14/03/2017,1900-01-01 07:14:52,AVENUE DE ROSNY,3,001,0030010147076,3288,11,2,100,100,147
1392863,5559384,00000765388848043121,14/03/2017,1900-01-01 17:04:32,PONT DE BONDY - AVENUE DE ROSNY,3,001,0030010143137,11636,11,2,100,100,143
1392864,11393341,00000700438794134358,14/03/2017,1900-01-01 07:14:21,BONNIERES,2,002,415893,2321604,1,1,800,854,ND
1392865,11393429,00000700438794134358,14/03/2017,1900-01-01 08:17:25,SAINT-LAZARE,3,001,0030030060900,205,31,3,100,110,ND
1392866,7182189,00000700438794134358,14/03/2017,1900-01-01 17:45:25,FRANKLIN-D.ROOSEVELT,3,001,0030030180700,205,31,3,100,110,ND
1392867,3284924,00000419190216590511,14/03/2017,1900-01-01 12:13:29,MARCEL SEMBAT,3,001,0030030280800,101,31,3,100,110,ND
1392868,3285100,00000419190216590511,14/03/2017,1900-01-01 14:05:14,VICTOR HUGO,3,001,0030030181000,133,31,3,100,110,ND
1392869,3285012,00000419190216590511,14/03/2017,1900-01-01 16:48:39,HAVRE-CAUMARTIN,3,001,0030030060700,102,31,3,100,110,ND
1392870,6386426,00000373223616330062,14/03/2017,1900-01-01 09:11:46,PORTE MAILLOT,3,001,0030030300100,101,31,3,100,110,ND
1392871,10536506,00000373223616330062,14/03/2017,1900-01-01 17:58:46,FELIX FAURE,3,001,0030010258062,4319,11,2,100,100,258
1392872,1852226,00000373223616330062,14/03/2017,1900-01-01 18:09:30,LA DEFENSE-GRANDE ARCHE,3,001,0030030291100,205,31,3,100,110,ND
1392873,11433287,00000372162654860645,14/03/2017,1900-01-01 09:10:04,JASMIN,3,001,0030030071500,132,31,3,100,110,ND
1392874,2841759,00000372162654860645,14/03/2017,1900-01-01 13:43:11,PORTE DE CLIGNANCOURT,3,001,0030030200100,106,31,3,100,110,ND
1392875,2841847,00000372162654860645,14/03/2017,1900-01-01 14:43:51,RIQUET,3,001,0030030220800,102,31,3,100,110,ND
1392876,10433410,00000314929418127926,14/03/2017,1900-01-01 08:52:00,Montjay,106,6,670,46643,11,2,6,6,3
1392877,1787586,00000314929418127926,14/03/2017,1900-01-01 13:50:00,Gare d'Orsay Ville - Arrivée,106,6,600,46671,11,2,6,6,3
1392878,1787498,00000314929418127926,14/03/2017,1900-01-01 18:17:00,Centre Commercial ulis 2,106,6,490,1822,11,2,6,6,25
1392879,9286482,00000304078301919439,14/03/2017,1900-01-01 12:53:35,DUPLEIX,3,001,0030030170700,103,31,3,100,110,ND
1392880,352546,00000304078301919439,14/03/2017,1900-01-01 18:35:27,SEVRES-LECOURBE,3,001,0030030020300,102,31,3,100,110,ND
1392881,9286394,00000304078301919439,14/03/2017,1900-01-01 19:58:06,DUPLEIX,3,001,0030030170700,104,31,3,100,110,ND
1392882,11591792,00000269783769843637,14/03/2017,1900-01-01 09:05:26,ROND-POINT DU PETIT CLAMART - RD 906,3,001,0030010190036,1044,11,2,100,100,190
1392883,11591880,00000269783769843637,14/03/2017,1900-01-01 15:34:32,ROND-POINT DU PETIT CLAMART - RD 906,3,001,0030010190036,6173,11,2,100,100,190
1392884,11591968,00000269783769843637,14/03/2017,1900-01-01 17:11:54,MARCHE DE CLAMART,3,001,0030010190011,3132,11,2,100,100,190

In [ ]:
test1.iloc[0]['HEUR_VALD'] - test2.iloc[0]['HEUR_VALD']

In [ ]:
data_select = data_sort[:10000]

In [ ]:
period =pd.Series()
for x in range(0, len(data_select)-3,3):
    first = data_select.iloc[x+1]['HEUR_VALD'] - data_select.iloc[x]['HEUR_VALD']
    second = data_select.iloc[x+2]['HEUR_VALD'] - data_select.iloc[x+1]['HEUR_VALD']
    period[data_select.iloc[x]['NUMR_CART']] = [first, second]

In [ ]:
period

In [ ]:
x = test1.iloc[0]['HEUR_VALD'] -  test2.iloc[0]['HEUR_VALD']

In [ ]:
dic_test = {}
dic_test['a'] = [3,4]
dic_test

In [ ]:
x.seconds

In [ ]:
path_nature = 'F:/Stage/data/AFC/DM nature.txt'
nature  = pd.read_csv(path_nature, header=0 , delimiter='\t')
nature

In [ ]:
path_mode = 'F:/Stage/data/AFC/DM mode.txt'
mode  = pd.read_csv(path_nature, header=0 , delimiter='\t')
mode

In [ ]:
get_counts(data_sort['COD_NATR_VALD'])

In [ ]:
test_6 =  data_sort[data_sort['COD_NATR_VALD'] == '006']

In [ ]:
test_1 = data_sort[(data_sort['COD_NATR_VALD'] == '1') | (data_sort['COD_NATR_VALD'] == '01 ')]

In [ ]:
test_3 = data_sort[(data_sort['COD_NATR_VALD'] == '3') | (data_sort['COD_NATR_VALD'] == '03 ')]

In [ ]:
test_4 = data_sort[(data_sort['COD_NATR_VALD'] == '4') | (data_sort['COD_NATR_VALD'] == '04 ')]

In [ ]:
test_56 = data_sort[(data_sort['COD_NATR_VALD'] == '056') | (data_sort['COD_NATR_VALD'] == '56')]

In [ ]:
test_57 =  data_sort[(data_sort['COD_NATR_VALD'] == '057') | (data_sort['COD_NATR_VALD'] == '57')]

In [ ]:
get_counts(test_3['Lib_Arret'])    #Entree correspondance

In [ ]:
get_counts(test_4['Lib_Arret'])   # Sortie correspondance

In [ ]:
get_counts(test_56['Lib_Arret'])   # Entree  correspondance RER

In [ ]:
get_counts(test_57['Lib_Arret'])  # Sortie correspondace RER

In [21]:
data_sort[data_sort['NUMR_CART'] == '99942113514081512969']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
732,4188983,99942113514081512969,14/03/2017,1900-01-01 19:48:10,GARE DE LYON,1,801,0030050091300,403,31,3,810,801,ND
733,4189071,99942113514081512969,14/03/2017,1900-01-01 19:48:52,GARE DE LYON,1,801,0030050091300,301,56,1,810,801,ND
734,12548103,99942113514081512969,14/03/2017,1900-01-01 20:00:40,AUBER,1,801,0030050060600,320,057,3,810,801,ND

In [22]:
data_sort[data_sort['NUMR_CART'] == '99893419525720385279']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
1443,7309583,99893419525720385279,14/03/2017,1900-01-01 16:23:36,LA CHAPELLE,3,001,0030030220900,332,57,3,100,110,ND
1444,11441623,99893419525720385279,14/03/2017,1900-01-01 17:27:43,ROME,3,001,0030030311200,102,31,3,100,110,ND
1445,7309671,99893419525720385279,14/03/2017,1900-01-01 17:41:50,LA CHAPELLE,3,001,0030030220900,233,56,1,100,110,ND

In [ ]:
y = data_sort[data_sort['NUMR_CART'] == '99884122436997909815']

In [ ]:
x_x = data_sort[data_sort['NUMR_CART'] == '00021214576293073371']
x_x.index

In [ ]:
get_counts(test_1['Lib_Arret'])

In [ ]:
test_lyon = data_sort[data_sort['Lib_Arret'] =='GARE DE LYON']

In [ ]:
get_counts(data_sort['COD_NATR_VALD'])

In [ ]:
entree = ['01 ', '011', '031', '041', '043', '051', '1', '11','11 ','17', '17 ', '31', '41', '43', '51' ]
sortie = ['02 ', '052', '2', '52']
entree_c = ['03 ', '056', '22', '22 ', '3', '42', '56']
sortie_c = ['04 ', '057', '4', '57'] 
columns = ['trip_id', 'client_id',  'O', 'D', 'Ot', 'Dt', 'mode']
T = 7200

In [ ]:
def es_model(index, data):
    data_1 = [1, data.loc[index]['NUMR_CART'], data.loc[index]['Lib_Arret'], 'No',  data.loc[index]['HEUR_VALD'], 'No', 'No']
    data_2 = [1, data.loc[index+1]['NUMR_CART'], data.loc[index+1]['Lib_Arret'], 'No',  data.loc[index+1]['HEUR_VALD'], 'No', 'No']
    return pd.DataFrame([data_1,data_2],columns=columns)

In [ ]:
es_model(1560, y)

In [ ]:
pd.DataFrame([[1,1,1,1,1,1,1], [2,2,2,2,2,2,2]],columns=columns)

In [ ]:
y.loc[1562]['Lib_Arret']

#new = pd.DataFrame([], columns=columns)