In [1]:
import pandas as pd

In [74]:
path_1 =  'F:/Stage/data/AFC/counts/counts_1'
path_2 =  'F:/Stage/data/AFC/counts/counts_2'
path_3 =  'F:/Stage/data/AFC/counts/counts_3'
path_4 =  'F:/Stage/data/AFC/counts/counts_4'
path_7 =  'F:/Stage/data/AFC/counts/counts_7'

In [31]:
data_2 = pd.read_csv(path_2, delimiter="\t", header = 0, encoding="latin-1")
data_3 = pd.read_csv(path_3, delimiter="\t", header = 0, encoding="latin-1")
data_4 = pd.read_csv(path_4, delimiter="\t", header = 0, encoding="latin-1")

E:\python\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (6,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
E:\python\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [75]:
data_7 = pd.read_csv(path_7, delimiter="\t", header = 0, encoding="latin-1")

E:\python\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (6,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
data_2['COD_NATR_VALD'] = data_2['COD_NATR_VALD'].astype('str')
data_2['HEUR_VALD'] = pd.to_datetime(data_2['HEUR_VALD'], format='%H:%M:%S')
data_2_sort = data_2.sort_values(['NUMR_CART','HEUR_VALD'], ascending=[False, True])
data_2_sort = data_2_sort.reset_index(drop = True)

In [56]:
data_3['COD_NATR_VALD'] = data_3['COD_NATR_VALD'].astype('str')
data_3['HEUR_VALD'] = pd.to_datetime(data_3['HEUR_VALD'], format='%H:%M:%S')
data_3_sort = data_3.sort_values(['NUMR_CART','HEUR_VALD'], ascending=[False, True])
data_3_sort = data_3_sort.reset_index(drop = True)

In [76]:
data_7['COD_NATR_VALD'] = data_7['COD_NATR_VALD'].astype('str')
data_7['HEUR_VALD'] = pd.to_datetime(data_7['HEUR_VALD'], format='%H:%M:%S')
data_7_sort = data_7.sort_values(['NUMR_CART','HEUR_VALD'], ascending=[False, True])
data_7_sort = data_7_sort.reset_index(drop = True)

In [57]:
data_3_sort

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
0,6289284,99999942845366768893,14/03/2017,1900-01-01 10:57:31,PYRENEES,3,001,0030030241400,101,31,3,100,110,ND
1,6289196,99999942845366768893,14/03/2017,1900-01-01 17:30:51,SAINT-GERMAIN-DES-PRES,3,001,0030030021500,232,31,3,100,110,ND
2,1723316,99999942845366768893,14/03/2017,1900-01-01 18:50:29,CHATELET,3,001,0030030010800,401,31,3,100,110,ND
3,7153827,99999577198461515588,14/03/2017,1900-01-01 08:00:58,HOTEL DE VILLE DE FONTENAY,3,001,0030010124016,2125,11,2,100,100,124
4,7153915,99999577198461515588,14/03/2017,1900-01-01 08:20:46,VAL DE FONTENAY RER,3,001,0030010118015,6803,11,2,100,100,118
5,11376859,99999577198461515588,14/03/2017,1900-01-01 19:25:28,VAL DE FONTENAY RER,3,001,0030010124022,9042,11,2,100,100,124
6,354119,99999492695837542235,14/03/2017,1900-01-01 08:02:30,ESCADRILLE NORMANDIE-NIEMEN - PAUL VAILLANT-CO...,3,001,0030010151012,611,11,2,100,100,151
7,354031,99999492695837542235,14/03/2017,1900-01-01 10:11:44,PLACE DU 19 MARS 1962,3,001,0030010151034,11948,11,2,100,100,151
8,354207,99999492695837542235,14/03/2017,1900-01-01 12:29:00,ESCADRILLE NORMANDIE-NIEMEN - PAUL VAILLANT-CO...,3,001,0030010151012,1753,11,2,100,100,151
9,6550859,99998853895565292735,14/03/2017,1900-01-01 07:56:20,MAIRIE DE ROMAINVILLE,3,001,0030010105047,983,11,2,100,100,105
10,6550947,99998853895565292735,14/03/2017,1900-01-01 08:10:03,MAIRIE DES LILAS,3,001,0030030230300,104,31,3,100,110,ND
11,6551035,99998853895565292735,14/03/2017,1900-01-01 17:09:35,PYRENEES,3,001,0030030241400,103,31,3,100,110,ND
12,11137569,99998786964033820793,14/03/2017,1900-01-01 08:29:10,RICHELIEU-DROUOT,3,001,0030030110700,401,31,3,100,110,ND
13,2536801,99998786964033820793,14/03/2017,1900-01-01 15:53:07,LA MUETTE,3,001,0030030171100,102,31,3,100,110,ND
14,2536889,99998786964033820793,14/03/2017,1900-01-01 20:12:29,RUE DU BAC,3,001,0030030021000,103,31,3,100,110,ND
15,12431870,99998614886067744792,14/03/2017,1900-01-01 09:03:24,GARE DE LYON,3,001,0030030090800,103,031,3,100,110,ND
16,8265510,99998614886067744792,14/03/2017,1900-01-01 18:21:02,LOUIS BLANC,3,001,0030030221000,102,31,3,100,110,ND
17,3943302,99998614886067744792,14/03/2017,1900-01-01 19:30:47,PORTE DE LA VILLETTE,3,001,0030030030400,105,31,3,100,110,ND
18,7265193,99997990729919865119,14/03/2017,1900-01-01 09:13:04,MARCADET-POISSONNIERS,3,001,0030030200900,102,31,3,100,110,ND
19,7265105,99997990729919865119,14/03/2017,1900-01-01 19:43:54,MAIRIE DE CLICHY,3,001,0030030190100,102,31,3,100,110,ND
20,2810545,99997990729919865119,14/03/2017,1900-01-01 19:59:14,BROCHANT - CARDINET,3,001,0030010031034,14809,11,2,100,100,31
21,10789855,99997955226236728234,14/03/2017,1900-01-01 18:07:30,CERGY-SAINT-CHRISTOPHE,1,801,382499,22331201,1,1,810,801,ND
22,10789679,99997955226236728234,14/03/2017,1900-01-01 18:35:00,Gare d'Houilles Carrières sur Seine,119,248,19079,3575,11,2,19,248,19
23,10789767,99997955226236728234,14/03/2017,1900-01-01 18:41:19,HOUILLES-CARRIERES-SUR-SEINE,1,801,386409,30320704,2,1,810,801,ND
24,7381774,99997804846299180110,14/03/2017,1900-01-01 09:03:11,LES VALLEES,2,002,386300,3320505,1,1,800,854,ND
25,7381862,99997804846299180110,14/03/2017,1900-01-01 09:14:38,NANTERRE-VILLE,1,801,0030050170503,208,52,1,810,801,ND
26,7381950,99997804846299180110,14/03/2017,1900-01-01 18:50:13,NANTERRE-VILLE,1,801,0030050170503,201,51,1,810,801,ND
27,5467559,99997800772878601333,14/03/2017,1900-01-01 13:07:09,GUY MOQUET,3,001,0030030301200,101,31,3,100,110,ND
28,770559,99997800772878601333,14/03/2017,1900-01-01 16:37:29,CHATELET,3,001,0030030010800,103,31,3,100,110,ND
29,9660055,99997800772878601333,14/03/2017,1900-01-01 18:07:47,JOURDAIN,3,001,0030030231400,103,31,3,100,110,ND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392855,851488,00001785442334661973,14/03/2017,1900-01-01 16:46:42,TISSONVILLIERS,3,001,0030010270011,8053,11,2,100,100,270
1392856,5483368,00001785442334661973,14/03/2017,1900-01-01 17:12:50,GOUSSAINVILLE,2,002,276246,26521001,2,1,800,804,ND
1392857,9623416,00001785442334661973,14/03/2017,1900-01-01 17:35:00,Gosa-Goussai,142,14,427,839,11,2,14,14,32
1392858,8288397,00000842771820414698,14/03/2017,1900-01-01 07:28:24,SIMPLON,3,001,0030030201000,101,31,3,100,110,ND
1392859,8288485,00000842771820414698,14/03/2017,1900-01-01 15:26:41,COLONEL FABIEN,3,001,0030030221500,101,31,3,100,110,ND
1392860,12392277,00000842771820414698,14/03/2017,1900-01-01 18:37:28,JAURES,3,001,0030030221200,103,31,3,100,110,ND
1392861,5559296,00000765388848043121,14/03/2017,1900-01-01 06:51:08,JEAN JAURES - DIVISION LECLERC,3,001,0030010143104,2764,11,2,100,100,143
1392862,909376,00000765388848043121,14/03/2017,1900-01-01 07:14:52,AVENUE DE ROSNY,3,001,0030010147076,3288,11,2,100,100,147
1392863,5559384,00000765388848043121,14/03/2017,1900-01-01 17:04:32,PONT DE BONDY - AVENUE DE ROSNY,3,001,0030010143137,11636,11,2,100,100,143
1392864,11393341,00000700438794134358,14/03/2017,1900-01-01 07:14:21,BONNIERES,2,002,415893,2321604,1,1,800,854,ND
1392865,11393429,00000700438794134358,14/03/2017,1900-01-01 08:17:25,SAINT-LAZARE,3,001,0030030060900,205,31,3,100,110,ND
1392866,7182189,00000700438794134358,14/03/2017,1900-01-01 17:45:25,FRANKLIN-D.ROOSEVELT,3,001,0030030180700,205,31,3,100,110,ND
1392867,3284924,00000419190216590511,14/03/2017,1900-01-01 12:13:29,MARCEL SEMBAT,3,001,0030030280800,101,31,3,100,110,ND
1392868,3285100,00000419190216590511,14/03/2017,1900-01-01 14:05:14,VICTOR HUGO,3,001,0030030181000,133,31,3,100,110,ND
1392869,3285012,00000419190216590511,14/03/2017,1900-01-01 16:48:39,HAVRE-CAUMARTIN,3,001,0030030060700,102,31,3,100,110,ND
1392870,6386426,00000373223616330062,14/03/2017,1900-01-01 09:11:46,PORTE MAILLOT,3,001,0030030300100,101,31,3,100,110,ND
1392871,10536506,00000373223616330062,14/03/2017,1900-01-01 17:58:46,FELIX FAURE,3,001,0030010258062,4319,11,2,100,100,258
1392872,1852226,00000373223616330062,14/03/2017,1900-01-01 18:09:30,LA DEFENSE-GRANDE ARCHE,3,001,0030030291100,205,31,3,100,110,ND
1392873,11433287,00000372162654860645,14/03/2017,1900-01-01 09:10:04,JASMIN,3,001,0030030071500,132,31,3,100,110,ND
1392874,2841759,00000372162654860645,14/03/2017,1900-01-01 13:43:11,PORTE DE CLIGNANCOURT,3,001,0030030200100,106,31,3,100,110,ND
1392875,2841847,00000372162654860645,14/03/2017,1900-01-01 14:43:51,RIQUET,3,001,0030030220800,102,31,3,100,110,ND
1392876,10433410,00000314929418127926,14/03/2017,1900-01-01 08:52:00,Montjay,106,6,670,46643,11,2,6,6,3
1392877,1787586,00000314929418127926,14/03/2017,1900-01-01 13:50:00,Gare d'Orsay Ville - Arrivée,106,6,600,46671,11,2,6,6,3
1392878,1787498,00000314929418127926,14/03/2017,1900-01-01 18:17:00,Centre Commercial ulis 2,106,6,490,1822,11,2,6,6,25
1392879,9286482,00000304078301919439,14/03/2017,1900-01-01 12:53:35,DUPLEIX,3,001,0030030170700,103,31,3,100,110,ND
1392880,352546,00000304078301919439,14/03/2017,1900-01-01 18:35:27,SEVRES-LECOURBE,3,001,0030030020300,102,31,3,100,110,ND
1392881,9286394,00000304078301919439,14/03/2017,1900-01-01 19:58:06,DUPLEIX,3,001,0030030170700,104,31,3,100,110,ND
1392882,11591792,00000269783769843637,14/03/2017,1900-01-01 09:05:26,ROND-POINT DU PETIT CLAMART - RD 906,3,001,0030010190036,1044,11,2,100,100,190
1392883,11591880,00000269783769843637,14/03/2017,1900-01-01 15:34:32,ROND-POINT DU PETIT CLAMART - RD 906,3,001,0030010190036,6173,11,2,100,100,190
1392884,11591968,00000269783769843637,14/03/2017,1900-01-01 17:11:54,MARCHE DE CLAMART,3,001,0030010190011,3132,11,2,100,100,190

In [77]:
data_7_sort

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
0,7213992,99999921099257193875,14/03/2017,1900-01-01 08:43:33,FONTENAY-SOUS-BOIS,1,801,0030050160202,101,51,1,810,801,ND
1,2778968,99999921099257193875,14/03/2017,1900-01-01 08:56:05,GARE DE LYON,1,801,0030050091300,148,52,1,810,801,ND
2,2779232,99999921099257193875,14/03/2017,1900-01-01 19:37:36,GARE DE LYON,1,801,0030050091300,402,31,3,810,801,ND
3,2779056,99999921099257193875,14/03/2017,1900-01-01 20:41:48,GARE DE LYON,1,801,0030050091300,134,51,1,810,801,ND
4,2779320,99999921099257193875,14/03/2017,1900-01-01 20:43:46,GARE DE LYON,1,801,0030050091300,245,52,1,810,801,ND
5,2779144,99999921099257193875,14/03/2017,1900-01-01 21:05:36,GARE DE LYON,1,801,0030050091300,336,51,1,810,801,ND
6,7213904,99999921099257193875,14/03/2017,1900-01-01 21:29:17,FONTENAY-SOUS-BOIS,1,801,0030050160202,110,52,1,810,801,ND
7,3320630,99999683888633588592,14/03/2017,1900-01-01 07:54:56,WAGRAM,3,1,0030030300400,102,31,3,100,110,ND
8,7636942,99999683888633588592,14/03/2017,1900-01-01 09:53:32,LAUMIERE,3,001,0030030221300,103,31,3,100,110,ND
9,3320718,99999683888633588592,14/03/2017,1900-01-01 10:23:58,JACQUES BONSERGENT,3,1,0030030080400,103,31,3,100,110,ND
10,7637030,99999683888633588592,14/03/2017,1900-01-01 14:56:42,GARE DU NORD,2,002,271007,42500104,1,1,800,853,ND
11,3320806,99999683888633588592,14/03/2017,1900-01-01 17:18:20,MONTSOULT-MAFFLIERS,2,2,276493,11531003,1,1,800,853,ND
12,7637118,99999683888633588592,14/03/2017,1900-01-01 17:51:45,GARE DU NORD,2,002,271007,44500104,2,1,800,853,ND
13,11729294,99999683888633588592,14/03/2017,1900-01-01 19:45:01,JAURES,3,001,0030030221200,102,031,3,100,110,ND
14,1833389,99999628283583659344,14/03/2017,1900-01-01 07:25:18,SARTROUVILLE,1,801,386417,23320702,1,1,810,801,ND
15,10490477,99999628283583659344,14/03/2017,1900-01-01 08:15:02,LAPLACE,1,802,0030050180202,117,52,1,810,802,ND
16,10490565,99999628283583659344,14/03/2017,1900-01-01 17:23:44,LAPLACE,1,802,0030050180202,103,51,1,810,802,ND
17,1833125,99999628283583659344,14/03/2017,1900-01-01 17:45:43,CHATELET-LES HALLES,1,801,0030050011000,410,52,1,810,801,ND
18,1833301,99999628283583659344,14/03/2017,1900-01-01 21:10:22,CHATELET-LES HALLES,1,801,0030050011000,211,51,1,810,801,ND
19,6350957,99999628283583659344,14/03/2017,1900-01-01 21:41:00,GARE DE SART,116,249,692,3356,11,2,16,616,5
20,1833213,99999628283583659344,14/03/2017,1900-01-01 21:44:00,SARTROUVILLE,1,801,386417,25320702,2,1,810,801,ND
21,648689,99999371122050833107,14/03/2017,1900-01-01 07:58:42,CORBEIL-ESSONNES,2,2,681007,1401201,1,1,800,804,ND
22,5346129,99999371122050833107,14/03/2017,1900-01-01 08:21:00,GARE DE VIRY CHATILLON,155,55,1781,47073,11,2,55,55,5
23,5346217,99999371122050833107,14/03/2017,1900-01-01 13:13:00,La Résidence,155,55,1088,1165,11,2,55,55,5
24,648777,99999371122050833107,14/03/2017,1900-01-01 13:27:00,Piscine,104,40,391,4981,11,2,400,400,401
25,9538977,99999371122050833107,14/03/2017,1900-01-01 13:55:00,Monseigneur Roméro,104,40,349,10039,11,2,400,400,402
26,648953,99999371122050833107,14/03/2017,1900-01-01 14:16:00,Léon Cassé,104,40,571,2533,11,2,400,400,405
27,648865,99999371122050833107,14/03/2017,1900-01-01 18:21:00,Salvador Allendé,104,40,555,2574,11,2,400,400,405
28,6058184,99999039155301899284,14/03/2017,1900-01-01 07:53:43,CAMBRONNE,3,001,0030030020200,101,31,3,100,110,ND
29,6058096,99999039155301899284,14/03/2017,1900-01-01 08:22:09,LA CHAPELLE,3,001,0030030220900,233,56,1,100,110,ND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278786,6054228,00000919135842832625,14/03/2017,1900-01-01 16:25:12,BOBIGNY-PABLO PICASSO,3,001,0030030031200,102,31,3,100,110,ND
1278787,10290108,00000919135842832625,14/03/2017,1900-01-01 19:05:38,RAMBUTEAU,3,001,0030030080100,232,31,3,100,110,ND
1278788,5236712,00000761824138439954,14/03/2017,1900-01-01 06:56:34,GONZALVE,3,001,0030010206044,4531,11,2,100,100,206
1278789,528448,00000761824138439954,14/03/2017,1900-01-01 07:08:16,VILLIERS-SUR-MARNE-PLESSIS-TREVISE,2,2,113795,13210801,1,1,800,805,ND
1278790,9467400,00000761824138439954,14/03/2017,1900-01-01 07:47:30,MAGENTA,2,002,281873,19500106,4,3,800,805,ND
1278791,5236624,00000761824138439954,14/03/2017,1900-01-01 08:06:46,GARE DU NORD,2,002,271007,106500101,2,1,800,853,ND
1278792,528536,00000761824138439954,14/03/2017,1900-01-01 08:12:36,LA FAYETTE-DUNKERQUE,3,1,0030010026043,8319,11,2,100,100,26
1278793,5236800,00000761824138439954,14/03/2017,1900-01-01 20:44:16,JOURDAIN,3,001,0030010026013,2925,11,2,100,100,26
1278794,9467312,00000761824138439954,14/03/2017,1900-01-01 20:58:18,MAGENTA,2,002,281873,13500107,1,1,800,805,ND
1278795,542852,00000453208492971769,14/03/2017,1900-01-01 07:00:00,Europe,139,230,332,5414,11,2,230,410,461
1278796,5244956,00000453208492971769,14/03/2017,1900-01-01 07:04:01,SAINT-QUENTIN-EN-YVELINES,2,002,393843,11601101,1,1,800,852,ND
1278797,543116,00000453208492971769,14/03/2017,1900-01-01 08:16:23,AUSTERLITZ,2,2,547026,41410101,2,1,800,803,ND
1278798,5245044,00000453208492971769,14/03/2017,1900-01-01 08:19:49,AUSTERLITZ,3,001,0030030090700,102,31,3,100,110,ND
1278799,543028,00000453208492971769,14/03/2017,1900-01-01 17:01:39,PORTE DE LA VILLETTE,3,1,0030030030400,103,31,3,100,110,ND
1278800,542940,00000453208492971769,14/03/2017,1900-01-01 17:35:26,AUSTERLITZ,2,2,547026,15410101,1,1,800,803,ND
1278801,5244868,00000453208492971769,14/03/2017,1900-01-01 18:45:00,GSQ,139,230,30,5480,11,2,230,410,461
1278802,11797357,00000324772797554127,14/03/2017,1900-01-01 08:00:58,DEUIL-MONTMAGNY,2,002,276345,3530601,1,1,800,853,ND
1278803,7693213,00000324772797554127,14/03/2017,1900-01-01 08:19:56,GARE DU NORD,2,002,271007,32500104,2,1,800,853,ND
1278804,11797445,00000324772797554127,14/03/2017,1900-01-01 08:23:00,LA FAYETTE - DUNKERQUE,3,001,0030010046002,10793,11,2,100,100,46
1278805,3297877,00000324772797554127,14/03/2017,1900-01-01 12:06:30,JACQUES BONSERGENT,3,1,0030030080400,101,31,3,100,110,ND
1278806,11797533,00000324772797554127,14/03/2017,1900-01-01 12:47:02,PORTE DE PANTIN,3,001,0030030220100,102,31,3,100,110,ND
1278807,7693301,00000324772797554127,14/03/2017,1900-01-01 17:11:01,COLONEL FABIEN,3,001,0030030221500,103,31,3,100,110,ND
1278808,7693389,00000324772797554127,14/03/2017,1900-01-01 17:18:15,LA CHAPELLE,3,001,0030030220900,232,56,1,100,110,ND
1278809,3649754,00000208654263885878,14/03/2017,1900-01-01 10:40:40,EUROPE,3,1,0030030061200,102,31,3,100,110,ND
1278810,7913970,00000208654263885878,14/03/2017,1900-01-01 12:16:50,LOUISE MICHEL,3,001,0030030291300,103,31,3,100,110,ND
1278811,3649842,00000208654263885878,14/03/2017,1900-01-01 13:12:10,SAINT-LAZARE,3,1,0030030060800,206,31,3,100,110,ND
1278812,3649930,00000208654263885878,14/03/2017,1900-01-01 18:33:57,BIBLIOTHEQUE FRANCOIS MITTERRAND,2,2,328328,48410302,1,1,800,803,ND
1278813,3650018,00000208654263885878,14/03/2017,1900-01-01 18:36:19,BIBLIOTHEQUE FRANCOIS MITTERRAND,2,2,328328,31410301,4,3,800,803,ND
1278814,3650106,00000208654263885878,14/03/2017,1900-01-01 18:38:19,BIBLIOTHEQUE FRANCOIS MITTERRAND,2,2,328328,38410301,3,1,800,803,ND
1278815,3650194,00000208654263885878,14/03/2017,1900-01-01 19:00:35,INVALIDES,3,1,0030030100900,145,57,3,100,110,ND

In [78]:
test_7 = data_7_sort[data_7_sort['NUMR_CART'] == '99999039155301899284']

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
28,6058184,99999039155301899284,14/03/2017,1900-01-01 07:53:43,CAMBRONNE,3,001,0030030020200,101,31,3,100,110,ND
29,6058096,99999039155301899284,14/03/2017,1900-01-01 08:22:09,LA CHAPELLE,3,001,0030030220900,233,56,1,100,110,ND
30,6058008,99999039155301899284,14/03/2017,1900-01-01 08:59:48,GAGNY RER,3,001,0030010303068,4226,11,2,100,100,303
31,10169896,99999039155301899284,14/03/2017,1900-01-01 17:19:58,CITE DES BOULEAUX,3,001,0030010303014,16683,11,2,100,100,303
32,1496264,99999039155301899284,14/03/2017,1900-01-01 17:33:37,GAGNY,2,2,113514,22200702,1,1,800,805,ND
33,6058272,99999039155301899284,14/03/2017,1900-01-01 18:08:18,GARE DU NORD,2,002,271007,225500102,4,3,800,853,ND
34,1496352,99999039155301899284,14/03/2017,1900-01-01 19:03:42,STALINGRAD,3,1,0030030221100,102,31,3,100,110,ND

In [60]:
test = data_3_sort[data_3_sort['NUMR_CART'] == '99997804846299180110']
test

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
24,7381774,99997804846299180110,14/03/2017,1900-01-01 09:03:11,LES VALLEES,2,002,386300,3320505,1,1,800,854,ND
25,7381862,99997804846299180110,14/03/2017,1900-01-01 09:14:38,NANTERRE-VILLE,1,801,0030050170503,208,52,1,810,801,ND
26,7381950,99997804846299180110,14/03/2017,1900-01-01 18:50:13,NANTERRE-VILLE,1,801,0030050170503,201,51,1,810,801,ND

In [69]:
test_1 = data_3_sort[data_3_sort['NUMR_CART'] == '99997800772878601333']
test_1

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
27,5467559,99997800772878601333,14/03/2017,1900-01-01 13:07:09,GUY MOQUET,3,001,0030030301200,101,31,3,100,110,ND
28,770559,99997800772878601333,14/03/2017,1900-01-01 16:37:29,CHATELET,3,001,0030030010800,103,31,3,100,110,ND
29,9660055,99997800772878601333,14/03/2017,1900-01-01 18:07:47,JOURDAIN,3,001,0030030231400,103,31,3,100,110,ND

In [19]:
entree = ['01 ', '011', '031', '041', '043', '051', '1', '11','11 ','17', '17 ', '31', '41', '43', '51' ]
sortie = ['02 ', '052', '2', '52']
entree_c = ['03 ', '056', '22', '22 ', '3', '42', '56']
sortie_c = ['04 ', '057', '4', '57'] 
columns = ['trip_id', 'client_id',  'O', 'D', 'Ot', 'Dt', 'mode', 'unkonwn']
T = 7200

In [21]:
data_1 = ['1', '2', '3', '4', '5', '6', '7','all']
data_2 = ['7','6','5','4','3','2','1', 'all']
test = pd.DataFrame([],columns=columns)
test_2 = pd.DataFrame([data_1],columns=columns)
test_3 = pd.DataFrame([data_2],columns=columns)

In [27]:
test_2.loc[1] = data_2
test_2

  trip_id client_id  O  D Ot Dt mode unkonwn
0       1         2  3  4  5  6    7     all
1       7         6  5  4  3  2    1     all

In [87]:
def  my_model(data, n, index):
    i = 0
    trip_id = 0
    transfer_id = 0
    trips = pd.DataFrame([], columns=columns)
    start = data.loc[index]     #start would be used in the final trip
    end = data.loc[index+n-1]
    #start_data = [trip_id, start['NUMR_CART'], start['Lib_Arret'], '', start['HEUR_VALD'], '', start['COD_TLB_RES'], 'd' ]
   # trips.loc[0] = start_data
    trip_start_time = start['HEUR_VALD']   
    while i+1 < n:
        first = data.loc[index+i]
        second = data.loc[index+i+1]
        first_data = [trip_id, first['NUMR_CART'], first['Lib_Arret'], '', first['HEUR_VALD'], '', first['COD_TLB_RES'], 'd' ]
        trips.loc[transfer_id] = first_data
        trips.loc[transfer_id, 'D'] = second['Lib_Arret']
        trips.loc[transfer_id, 'Dt'] = second['HEUR_VALD']
        if second['COD_NATR_VALD'] in sortie:
            trips.loc[transfer_id, 'unkonwn'] = 'no'
            transfer_id = transfer_id + 1 
            i = i + 2
        else:
            trips.loc[transfer_id, 'unkonwn'] = 'd'
            transfer_id = transfer_id + 1
            i = i + 1
            if (second['HEUR_VALD'] - trip_start_time).seconds > T:
                trip_start_time = second['HEUR_VALD']
                trip_id = trip_id + 1
    if (i+1) == n:
        if (end['HEUR_VALD'] -  trip_start_time).seconds > T:
            trip_id = trip_id + 1
        last_data = [trip_id, end['NUMR_CART'], end['Lib_Arret'], '', end['HEUR_VALD'], '', end['COD_TLB_RES'], 'd' ]
        trips.loc[transfer_id] = last_data
        trips.loc[transfer_id, 'trip_id'] = trip_id
        trips.loc[transfer_id, 'D'] = start['Lib_Arret']
        trips.loc[transfer_id, 'unkonwn'] = 'dh'
    return trips

In [64]:
test

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
24,7381774,99997804846299180110,14/03/2017,1900-01-01 09:03:11,LES VALLEES,2,002,386300,3320505,1,1,800,854,ND
25,7381862,99997804846299180110,14/03/2017,1900-01-01 09:14:38,NANTERRE-VILLE,1,801,0030050170503,208,52,1,810,801,ND
26,7381950,99997804846299180110,14/03/2017,1900-01-01 18:50:13,NANTERRE-VILLE,1,801,0030050170503,201,51,1,810,801,ND

In [88]:
my_model(test, 3, 24)

,trip_id,client_id,O,D,Ot,Dt,mode,unkonwn
0,0,99997804846299180110,LES VALLEES,NANTERRE-VILLE,1900-01-01 09:03:11,1900-01-01 09:14:38,002,no
1,1,99997804846299180110,NANTERRE-VILLE,LES VALLEES,1900-01-01 18:50:13,,801,dh

In [73]:
test_1

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
27,5467559,99997800772878601333,14/03/2017,1900-01-01 13:07:09,GUY MOQUET,3,001,0030030301200,101,31,3,100,110,ND
28,770559,99997800772878601333,14/03/2017,1900-01-01 16:37:29,CHATELET,3,001,0030030010800,103,31,3,100,110,ND
29,9660055,99997800772878601333,14/03/2017,1900-01-01 18:07:47,JOURDAIN,3,001,0030030231400,103,31,3,100,110,ND

In [85]:
my_model(test_1, 3, 27)

,trip_id,client_id,O,D,Ot,Dt,mode,unkonwn
0,0,99997800772878601333,GUY MOQUET,CHATELET,1900-01-01 13:07:09,1900-01-01 16:37:29,001,d
1,1,99997800772878601333,CHATELET,JOURDAIN,1900-01-01 16:37:29,1900-01-01 18:07:47,001,d
2,1,99997800772878601333,JOURDAIN,GUY MOQUET,1900-01-01 18:07:47,,001,d

In [79]:
test_7

,Unnamed: 0,NUMR_CART,JOUR_EXPL_VALD,HEUR_VALD,Lib_Arret,COD_TLB_TRNS,COD_TLB_RES,COD_TLB_ARRT_STTN,NUMR_BORN_VALD_EQPM,COD_NATR_VALD,COD_MOD_VALD,COD_STF_TRNS,COD_STF_RES,COD_STF_LIGN
28,6058184,99999039155301899284,14/03/2017,1900-01-01 07:53:43,CAMBRONNE,3,001,0030030020200,101,31,3,100,110,ND
29,6058096,99999039155301899284,14/03/2017,1900-01-01 08:22:09,LA CHAPELLE,3,001,0030030220900,233,56,1,100,110,ND
30,6058008,99999039155301899284,14/03/2017,1900-01-01 08:59:48,GAGNY RER,3,001,0030010303068,4226,11,2,100,100,303
31,10169896,99999039155301899284,14/03/2017,1900-01-01 17:19:58,CITE DES BOULEAUX,3,001,0030010303014,16683,11,2,100,100,303
32,1496264,99999039155301899284,14/03/2017,1900-01-01 17:33:37,GAGNY,2,2,113514,22200702,1,1,800,805,ND
33,6058272,99999039155301899284,14/03/2017,1900-01-01 18:08:18,GARE DU NORD,2,002,271007,225500102,4,3,800,853,ND
34,1496352,99999039155301899284,14/03/2017,1900-01-01 19:03:42,STALINGRAD,3,1,0030030221100,102,31,3,100,110,ND

In [86]:
my_model(test_7, 7, 28)

,trip_id,client_id,O,D,Ot,Dt,mode,unkonwn
0,0,99999039155301899284,CAMBRONNE,LA CHAPELLE,1900-01-01 07:53:43,1900-01-01 08:22:09,001,d
1,0,99999039155301899284,LA CHAPELLE,GAGNY RER,1900-01-01 08:22:09,1900-01-01 08:59:48,001,d
2,0,99999039155301899284,GAGNY RER,CITE DES BOULEAUX,1900-01-01 08:59:48,1900-01-01 17:19:58,001,d
3,1,99999039155301899284,CITE DES BOULEAUX,GAGNY,1900-01-01 17:19:58,1900-01-01 17:33:37,001,d
4,1,99999039155301899284,GAGNY,GARE DU NORD,1900-01-01 17:33:37,1900-01-01 18:08:18,2,d
5,1,99999039155301899284,GARE DU NORD,STALINGRAD,1900-01-01 18:08:18,1900-01-01 19:03:42,002,d
6,1,99999039155301899284,STALINGRAD,CAMBRONNE,1900-01-01 19:03:42,,1,d

In [ ]:
def correct(data):
    
    return correct_data